@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    background-color: #F4EBDC;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-weight: 300;
    color: white;
}

.brown{
    color: brown;
}

/* Navigation */

nav{
    background-color: #F4EBDC;
    box-shadow: 5px 5px 5px rgba(245, 98, 98, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    padding: 10px;

}

.bar_icon{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}

.bar_icon span{
    font-size: 12px;
    text-align: center;
    padding: 3px 5px;

}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 70px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}



.gap{
    display: block;
    padding: 0 5px;
}

.btnn{
    display: flex;
}

.location{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 200;
}

/* Hero section  */

.hero{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 100px;
}

.img1{
    width: 700px;
}

.hero_content{
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.hero_content h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #502314;
    font-size: 62px;
    /* line-height: 1; */
    font-weight: 800;
}


/* cards */

h5{
    color: #502314 !important;
    font-weight: 600;

}

p{
    color: #502314 !important;
}

.img2{
    width: 200px;
}

.font{
    font-size: 40px !important;
}

.img3{
    width: 150px;
}

.foot{
    background-color: #502314;
    color: #F4EBDC;
    text-align: center;
    padding-top: 8px;
    min-height: 40px;

}

@media (max-width:786px) {

    .gap{
        display: none !important;
    }


    .logo{
        width: 40px;
        justify-self: end;
    
    }

    .hero_content{
        display: none !important;
    }

    .img1{
        width: 80vw;
        align-items: center;
    }

    .img-2{
        display: none !important;
    }

}